[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent
